.table {
    border-collapse: collapse;
}

.table .th {
    padding: 5px;
}

.table .cell {
    padding: 5px;
    background: #ccc;
}

.table .cell.selected {
    background-color: cadetblue;
}

.cursor-pointer {
    cursor: pointer;
}